*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #F7F7F7;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.logo img{
    width: 80px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding: 16px 32px;
    display: block;
}

nav ul li a:hover{
    background: #A0AECD;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
}

nav{
    display: block;
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.open-nav{
    transform: translateX(0%);
}

.home-actions{
    display: flex;
    gap: 32px;
    align-items: center;
}

.home-actions .fa-solid{
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

.fa-solid,
.fa-xmark{
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

.slider, .hero-container, .slide-content{
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.hero-container{
    position: relative;
}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/image/slide\ four.JPG);
}
.slide2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/image/slide\ six.JPG);
}
.slide3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/image/slide\ seven.png);
}
.slide4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/image/slide\ ten.png);
}

.slide-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slide-header3{
    color: #fff;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    margin-top: 500px;
}

.subhead3{
    color: #fff;
    font-size: 20px;
    transform: translateY(500%);
}

/*.slide-content span .subhead{
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    color: #FACD3D;
    transform: translateY(400px);
    font-weight: 600;
}
*/

@media (min-width: 768px) {
    nav{
        transform: translateX(0);
        position: unset;
        width: auto;
        height: auto;
        background: none;
    }

    nav ul{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    nav ul li a{
        padding: unset;
    }

    nav ul li a:hover{
        background: unset;
    }

    .menu{
        display: none;
    }

    .arrow{
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    
    #left-arrow{
        border-width: 30px 40px 30px 0;
        border-color: transparent #fff transparent transparent;
        left: 0;
        margin-left: 30px;
    }
    
    #right-arrow{
        border-width: 30px 0px 30px 40px;
        border-color: transparent transparent transparent #fff;
        right: 0;
        margin-right: 30px;
    }

}