*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #F7F7F7;
}
header{
    background: #F7F7F7;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
}

.logo img{
    width: 55px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding: 16px 32px;
    display: block;
}

nav ul li a:hover{
    background: #A0AECD;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
}

nav{
    display: block;
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 68px;
    left: 0;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.open-nav{
    transform: translateX(0%);
}

.home-actions{
    display: flex;
    gap: 32px;
    align-items: center;
}

.home-actions .fa-solid{
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

.fa-bars,
.fa-xmark{
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

#slider-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-overlay img{
    width: 80px;
}

.text-overlay h1{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 16px auto;
}

.text-overlay p{
    color: #fff;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
}

.cta-btn-house{
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    background: transparent;
    border: solid 2px #fff;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.cta-btn-house:hover{
    color: #000000;
    background: #fff;
}

#prev, 
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    display: none;
}

.fa-chevron-left,
.fa-chevron-right{
    font-size: 40px;
    color: #fff;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.slide1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/image/slide\ 44\ \(2\).jpg);
}
.slide2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/image/slide\ house.JPG);
}
.slide3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/image/slide\ seven.png);
}
.slide4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/image/slide\ 44\ \(1\).jpg);
}

.container{
    margin: 60px 0;
}

.hero-section h3{
    text-align: center;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: #FACD3D;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
}

.hero-section h1{
    text-align: center;
    font-size: 25px;
    margin-top: 16px;
    font-family: 'Playfair Display', serif;
    color: #243455;
    margin-left: 32px;
    margin-right: 32px;
}

.hero-section{
    position: relative;
}

.hero-section::after{
    position: absolute;
    content: "";
    bottom: -40px;
    right: 40%;
    width: 80px;
    height: -6px;
    border: solid 1px #FACD3D;
}

.sub-hero{
    margin-top: 100px;
}

.sub-hero img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.sub-hero-one{
    margin-top: 40px;
    text-align: center;
}

.sub-hero-one .content {
    display: flex;
    align-items: last baseline;
    gap: 10px;
    margin: 1px auto;
    margin-left: 32px;
    margin-right: 32px;
}

.sub-hero-one .content .number{
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    color: #FACD3D;
    font-weight: bold;
}

.sub-hero-one .content h3{
    font-family: 'Lato', sans-serif;
    color: #243455;
    font-size: 16px;
}

.sub-hero-one .text{
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 16px;
    text-align: left;
    margin-left: 32px;
    margin-right: 32px;
}

.primary-cta{
    text-decoration: none;
    color: #FACD3D;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-left: 32px;
    margin-right: 32px;
}

.primary-cta svg{
    width: 30px;
    transition: transform .5s;
}

.primary-cta:hover svg{
    transform: translateX(15px);
}

.primary-cta:hover{
    text-decoration: underline;
}

.footer{
    background: #A0AECD;
}

.newsletter{
    margin: auto 32px;
    margin-bottom: 40px;
}

.footer-logo{
    text-align: center;
}

.footer-logo img{
    width: 70px;
    height: 70px;
    margin: 32px auto;
}

.form-info{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 12px;
    color: #000000;
}

form input{
    display: block;
    width: 100%;
    padding: 12px 16px;
    outline: none;
    border: none;
    margin-bottom: 16px;
}

.news-btn{
    display: block;
    width: 100%;
    padding: 10px 16px;
    outline: none;
    border: none;
    background: #FACD3D;
    color: #fff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.news-btn:hover{
    background: unset;
    color: #000000;
    transition: .5s;
}

.important-links{
    margin: 16px 32px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    margin-bottom: 32px
}

.important-links h4{
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.important-links p{
    font-size: 12.5px;
    line-height: 32px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.social-link-sub a{
    display: flex;
    gap: 13px;
    align-items: center;
    text-decoration: none;
    color: #000000;
    line-height: 32px;
    font-size: 12.5px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.social-link-sub i{
    font-size: 16px;
    color: #000000;
    flex-basis: 10%;
}

.other-links{
    margin: 16px 32px;
    font-size: 11px;
    line-height: 32px;
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}

.other-links a{
    text-decoration: none;
    color: #000000;
}

.ender {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 16px 32px;
    text-align: center;
    padding-bottom: 32px;
    margin-bottom: unset;
}

.loading-indicator {
    display: none;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-top: 8px;
}

.error-message {
    color: red;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

@media (min-width: 920px) {
    nav{
        transform: translateX(0);
        position: unset;
        width: auto;
        height: auto;
        background: none;
    }

    nav a{
        position: relative;
    }

    nav a::before{
        position: absolute;
        content: "";
        bottom: -5px;
        border-bottom: solid 3px #A0AECD;
        height: -6px;
        width: 0;
        transition: width .3s; 
    }

    nav a:hover::before{
        width: 100%;
    }

    nav ul{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    nav ul li a{
        padding: unset;
    }

    nav ul li a:hover{
        background: unset;
    }

    .menu{
        display: none;
    }

    #slider-container {
        height: 100vh;
    }

    .text-overlay img{
        width: 100px;
    }

    .text-overlay h1{
        font-size: 60px;
    }

    .text-overlay p{
        font-size: 20px;
    }

    .cta-btn-house{
        font-size: 14px;
    }

    #prev,
    #next{
        display: unset;
    }

    .container,
    .footer-container{
        margin: auto 32px;
    }

    .hero-section h3,
    .hero-sectionh1,
    .sub-hero-one .content,
    .sub-hero-one .text,
    .primary-cta{
        margin-left: unset;
        margin-right: unset;
    }
    .hero-section::after{
        right: 46.5%;
    }

    .sub-hero{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    /*.sub-hero img{
        width: 100%;
        height: 350px;
    }*/

    .sub-hero-one{
        text-align: unset;
    }

    .section-one{
        flex-basis: 30%;
    }

    .newsletter,
    .important-links,
    .other-links{
        margin-left: unset;
        margin-right: unset;
    }

    .footer{
        margin-top: 80px;
    }

    .form-info{
        text-align: center;
    }

    form input,
    .news-btn{
        width: 50%;
        transform: translateX(50%);
    }

    .loading-indicator {
        display: none;
        text-align: center;
    }
    
    .error-message {
        color: red;
        margin-top: 5px;
        text-align: center;
    }

    #subscription-result{
        text-align: center;
    }

    .important-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }
}

@media (min-width: 1200px) {
    .container,
    .footer-container{
        max-width: 1200px;
        margin: 0 auto;
    }

}